extends layout

block content
  div.container
    div.row
      div.col-sm-8.col-sm-offset-2
        h2 Welome to the quiz!
    div.row
      div.col-sm-2.col-sm-offset-2
        button.btn-lg Login
      div.col-sm-2.col-sm-offset-6
        button.btn-lg Signup